In [ ]:
!pip install scikit-allel

Collecting scikit-allel
  Downloading scikit_allel-1.3.5-cp37-cp37m-manylinux2010_x86_64.whl (5.7 MB)
     |████████████████████████████████| 5.7 MB 5.1 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from scikit-allel) (1.19.5)
Requirement already satisfied: dask[array] in /usr/local/lib/python3.7/dist-packages (from scikit-allel) (2.12.0)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[array]->scikit-allel) (0.11.1)
Installing collected packages: scikit-allel
Successfully installed scikit-allel-1.3.5

In [ ]:
import os
import allel
import pandas as pd


strain=['human']
tools=['grom','BREAKDANCER','DELLY','GENOMESTRIP','manta','octopus','popdel','clever',
       'gasv','rdxplorer','deepvariant','tardis','crest','smoove']

###0 Threshold

In [ ]:
#0 threshold deletions

th=0
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_0 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_0_FP_TP.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      df_current = pd.DataFrame({'tool': t, 'strain': s,'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_0 = pd.concat([df_current, df_0],ignore_index=True)
    else:
      print("Empty File: " + file)
df_0.head()

     tool strain length flag  position threshold
0  smoove  human    775   FP  14657710         0
1  smoove  human   2807   FP  25158702         0
2  smoove  human    910   FP  58743912         0
3  smoove  human    839   FP  62082862         0
4  smoove  human    796   FP  68008020         0

In [ ]:
#0 threshold non-deletions

import os
th=0
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_0_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_0_TN.vcf'
    print(file)
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      df_current = pd.DataFrame({'tool': t, 'strain':s,'length':callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_0_nondel = pd.concat([df_current, df_0_nondel],ignore_index=True)
    else:
      print("Empty File: " + file)
df_0_nondel.head()

/content/drive/MyDrive/SV_Callers/Filtered/grom_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/BREAKDANCER_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/DELLY_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/GENOMESTRIP_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/manta_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/octopus_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/popdel_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/clever_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/gasv_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/rdxplorer_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/deepvariant_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/tardis_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/crest_chrall_0_TN.vcf
/content/drive/MyDrive/SV_Callers/Filtered/smoove_chrall_0_TN.vcf

     tool strain length flag   position threshold
0  smoove  human    910   TN   58743912         0
1  smoove  human   1015   TN  243782744         0
2  smoove  human   5318   TN   41775965         0
3  smoove  human  26840   TN   89132281         0
4  smoove  human   1754   TN  178855458         0

###10 threshold

In [ ]:
#10 threshold deletions

th=10
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_10 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_10_FP_TP.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      df_current = pd.DataFrame({'tool': t, 'strain':s,'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      #df_current = pd.DataFrame({'tool': t, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_10 = pd.concat([df_current, df_10],ignore_index=True)
    else:
      print("Empty File: " + file)
df_10.head()

     tool strain length flag   position threshold
0  smoove  human    775   TP   14657710        10
1  smoove  human    910   TP   58743912        10
2  smoove  human    839   TP   62082862        10
3  smoove  human    712   TP   86740985        10
4  smoove  human   3927   TP  108733324        10

In [ ]:
#10 threshold non-deletions

import os
th=10
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_10_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_10_TN.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      # print ("----")
      df_current = pd.DataFrame({'tool': t, 'strain':s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_10_nondel = pd.concat([df_current, df_10_nondel],ignore_index=True)
    else:
      print("Empty File: " + file)
df_10_nondel.head()

     tool strain length flag  position threshold
0  smoove  human    775   TN  14657710        10
1  smoove  human    910   TN  58743912        10
2  smoove  human    910   TN  58743912        10
3  smoove  human    839   TN  62082862        10
4  smoove  human    712   TN  86740985        10

##100 bp

In [ ]:
#100 threshold deletions

th=100
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_100 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_100_FP_TP.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      df_current = pd.DataFrame({'tool': t, 'strain':s,'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      #df_current = pd.DataFrame({'tool': t, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_100 = pd.concat([df_current, df_100],ignore_index=True)
    else:
      print("Empty File: " + file)
df_100.head()

     tool strain length flag  position threshold
0  smoove  human    775   TP  14657710       100
1  smoove  human   2807   TP  25158702       100
2  smoove  human    910   TP  58743912       100
3  smoove  human    839   TP  62082862       100
4  smoove  human    796   TP  68008020       100

In [ ]:
#100 threshold non-deletions

import os
th=100
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_100_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_100_TN.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      # print ("----")
      df_current = pd.DataFrame({'tool': t, 'strain':s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_100_nondel = pd.concat([df_current, df_100_nondel],ignore_index=True)
    else:
      print("Empty File: " + file)
df_100_nondel.head()

     tool strain length flag  position threshold
0  smoove  human    775   TN  14657710       100
1  smoove  human   2807   TN  25158702       100
2  smoove  human    910   TN  58743912       100
3  smoove  human    910   TN  58743912       100
4  smoove  human    839   TN  62082862       100

###1000bp

In [ ]:
#1000 threshold non-deletions

import os
th=1000
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_1000_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_1000_TN.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      # print ("----")
      df_current = pd.DataFrame({'tool': t, 'strain':s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_1000_nondel = pd.concat([df_current, df_1000_nondel],ignore_index=True)
    else:
      print("Empty File: " + file)
df_1000_nondel.head()

     tool strain length flag  position threshold
0  smoove  human    775   TN  14657710      1000
1  smoove  human   2807   TN  25158702      1000
2  smoove  human    910   TN  58743912      1000
3  smoove  human    910   TN  58743912      1000
4  smoove  human    839   TN  62082862      1000

In [ ]:
#1000 threshold deletions

th=1000
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_1000 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_1000_FP_TP.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      df_current = pd.DataFrame({'tool': t, 'strain':s,'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      #df_current = pd.DataFrame({'tool': t, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_1000 = pd.concat([df_current, df_1000],ignore_index=True)
    else:
      print("Empty File: " + file)
df_1000.head()

     tool strain length flag  position threshold
0  smoove  human    775   TP  14657710      1000
1  smoove  human   2807   TP  25158702      1000
2  smoove  human    910   TP  58743912      1000
3  smoove  human    839   TP  62082862      1000
4  smoove  human    796   TP  68008020      1000

##10000bp

In [ ]:
#10000 threshold deletions

th=10000
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_10000 = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])

for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_10000_FP_TP.vcf'
    print(file)
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      df_current = pd.DataFrame({'tool': t, 'strain':s,'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      #df_current = pd.DataFrame({'tool': t, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_10000 = pd.concat([df_current, df_10000],ignore_index=True)
    else:
      print("Empty File: " + file)
      
df_10000.head()

/content/drive/MyDrive/SV_Callers/Filtered/grom_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/BREAKDANCER_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/DELLY_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/GENOMESTRIP_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/manta_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/octopus_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/popdel_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/clever_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/gasv_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/rdxplorer_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/deepvariant_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/tardis_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/crest_chrall_10000_FP_TP.vcf
/content/drive/MyDrive/SV_Callers/Filtered/smoove_chrall_10000_FP_TP.vcf

     tool strain length flag  position threshold
0  smoove  human    775   TP  14657710     10000
1  smoove  human   2807   TP  25158702     10000
2  smoove  human    910   TP  58743912     10000
3  smoove  human    839   TP  62082862     10000
4  smoove  human    796   TP  68008020     10000

In [ ]:
#1000 threshold non-deletions

import os
th=10000
df_current = pd.DataFrame(columns=['strain,''length','flag','position','threshold'])
df_10000_nondel = pd.DataFrame(columns=['tool','strain','length','flag','position','threshold'])
for s in strain:
  for t in tools:
    file='/content/drive/MyDrive/SV_Callers/Filtered/'+t+'_chrall_10000_TN.vcf'
    callset = allel.read_vcf(file,fields='*')
    if callset!=None:
      # print ("----")
      df_current = pd.DataFrame({'tool': t, 'strain':s, 'length': callset['variants/SVLEN'],'flag': callset['variants/FLAG'],'position': callset['variants/POS'],'threshold': th})
      df_10000_nondel = pd.concat([df_current, df_10000_nondel],ignore_index=True)
    else:
      print("Empty File: " + file)
df_10000_nondel.head()

     tool strain length flag  position threshold
0  smoove  human    775   TN  14657710     10000
1  smoove  human   2807   TN  25158702     10000
2  smoove  human    910   TN  58743912     10000
3  smoove  human    910   TN  58743912     10000
4  smoove  human    839   TN  62082862     10000

In [ ]:
%store df_10
%store df_100
%store df_1000
%store df_10000
%store df_10_nondel
%store df_100_nondel
%store df_1000_nondel
%store df_10000_nondel

Stored 'df_10' (DataFrame)
Stored 'df_100' (DataFrame)
Stored 'df_1000' (DataFrame)
Stored 'df_10000' (DataFrame)
Stored 'df_10_nondel' (DataFrame)
Stored 'df_100_nondel' (DataFrame)
Stored 'df_1000_nondel' (DataFrame)
Stored 'df_10000_nondel' (DataFrame)

In [ ]:
df_10.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10.csv')
df_100.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_100.csv')
df_1000.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_1000.csv')
df_10000.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10000.csv')

df_10_nondel.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10_nondel.csv')
df_100_nondel.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_100_nondel.csv')
df_1000_nondel.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_1000_nondel.csv')
df_10000_nondel.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10000_nondel.csv')

##Concatenate

In [ ]:
#List of your dataframes
#removed df_0 and df_0_nondel for graphing purposes
pdList = [df_10,df_100,df_1000,df_10000,df_10_nondel,df_100_nondel,df_1000_nondel,df_10000_nondel] 
df_cat = pd.concat(pdList)

In [ ]:
df_cat.head()

     tool strain length flag   position threshold
0  smoove  human    775   TP   14657710        10
1  smoove  human    910   TP   58743912        10
2  smoove  human    839   TP   62082862        10
3  smoove  human    712   TP   86740985        10
4  smoove  human   3927   TP  108733324        10

In [ ]:
#output counts for TP, FP, TN rows are not the same as Varuni's; due to missing files?
group_data_TP=df_cat[df_cat['flag'] == 'TP'].groupby(['tool','threshold','strain'],as_index=False)['flag'].count()
group_data_TP=group_data_TP.rename(columns={"flag": "nTP"})
group_data_TP.shape

(53, 4)

In [ ]:
group_data_TP.head(25)

           tool  threshold strain   nTP
0   BREAKDANCER         10  human    59
1   BREAKDANCER        100  human   562
2   BREAKDANCER       1000  human   670
3   BREAKDANCER      10000  human   684
4         DELLY         10  human   933
5         DELLY        100  human  2217
6         DELLY       1000  human  2339
7         DELLY      10000  human  2360
8   GENOMESTRIP        100  human   434
9   GENOMESTRIP       1000  human   506
10  GENOMESTRIP      10000  human   514
11       clever         10  human    64
12       clever        100  human  1143
13       clever       1000  human  2714
14       clever      10000  human  4105
15        crest        100  human     2
16        crest       1000  human  2115
17        crest      10000  human  2149
18  deepvariant         10  human  1637
19  deepvariant        100  human  1870
20  deepvariant       1000  human  2119
21  deepvariant      10000  human  2927
22         gasv        100  human     4
23         gasv       1000  human   451
24         gasv      10000  human  3321

In [ ]:
group_data_FP=df_cat[df_cat['flag'] == 'FP'].groupby(['tool','threshold','strain'],as_index=False)['flag'].count()
group_data_FP=group_data_FP.rename(columns={"flag": "nFP"})
group_data_FP.shape

(56, 4)

In [ ]:
group_data_FP.head()

          tool  threshold strain   nFP
0  BREAKDANCER         10  human   932
1  BREAKDANCER        100  human   429
2  BREAKDANCER       1000  human   321
3  BREAKDANCER      10000  human   307
4        DELLY         10  human  2158

In [ ]:
group_data_TN=df_cat[df_cat['flag'] == 'TN'].groupby(['tool','threshold','strain'],as_index=False)['flag'].count()
group_data_TN=group_data_TN.rename(columns={"flag": "nTN"})
group_data_TN.shape

(56, 4)

In [ ]:
#fill missing combinations with 0s
#removed 0 threshold group since it = 0 for all tools
for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            if not (((group_data_TP['tool'] == t) & (group_data_TP['strain'] == s) & (group_data_TP['threshold'] == th)).any()):
                group_data_TP = group_data_TP.append({'tool' : t , 'strain' : s,'threshold' : th,'nTP' : 0} , ignore_index=True)
group_data_TP.shape

(56, 4)

In [ ]:
for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            if not (((group_data_FP['tool'] == t) & (group_data_FP['strain'] == s) & (group_data_FP['threshold'] == th)).any()):
                #group_data_FP = group_data_FP.append({'tool' : t , 'strain' : s,'threshold' : th,'nFP' : 0} , ignore_index=True)
                print (s,t,th)
group_data_FP.shape

(56, 4)

In [ ]:
for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            if not (((group_data_TN['tool'] == t) & (group_data_TN['strain'] == s) & (group_data_TN['threshold'] == th)).any()):
                group_data_TN = group_data_TN.append({'tool' : t , 'strain' : s,'threshold' : th,'nTN' : 0} , ignore_index=True)
                #print (s,t,th)
group_data_TN.shape

(56, 4)

In [ ]:
#merge TP and FP
df_merge=pd.merge(group_data_TP, group_data_FP,on=['tool','threshold','strain'])
df_merge=pd.merge(df_merge, group_data_TN,on=['tool','threshold','strain'])
df_merge.shape

(56, 6)

In [ ]:
df_merge.head(10)

          tool  threshold strain   nTP   nFP   nTN
0  BREAKDANCER         10  human    59   932   302
1  BREAKDANCER        100  human   562   429   713
2  BREAKDANCER       1000  human   670   321   888
3  BREAKDANCER      10000  human   684   307  1244
4        DELLY         10  human   933  2158  1020
5        DELLY        100  human  2217   874  2307
6        DELLY       1000  human  2339   752  2522
7        DELLY      10000  human  2360   731  3791
8  GENOMESTRIP        100  human   434   137   534
9  GENOMESTRIP       1000  human   506    65   593

In [ ]:
#true SV deletions
df_current = pd.DataFrame(columns=['strain','length'])
df = pd.DataFrame(columns=['strain','length'])


for s in strain:
    file='/content/drive/MyDrive/SV_Callers/MK_tools/STANDARD_HIGHCONF_HG002_SVs_Tier1_v0.6_DEL_PASS_XY.vcf'
    callset = allel.read_vcf(file,fields='*')
    
    df_current = pd.DataFrame({'strain': s, 'length': callset['variants/SVLEN']})
    df = pd.concat([df_current, df],ignore_index=True)
group_data_true = df.groupby(['strain'],as_index=False).count()
group_data_true=group_data_true.rename(columns={"length": "n_true"})
group_data_true

  strain  n_true
0  human    4120

In [ ]:
df_merge=pd.merge(df_merge, group_data_true)
df_merge.shape

(56, 7)

In [ ]:
df_merge

           tool  threshold strain   nTP      nFP     nTN  n_true
0   BREAKDANCER         10  human    59      932     302    4120
1   BREAKDANCER        100  human   562      429     713    4120
2   BREAKDANCER       1000  human   670      321     888    4120
3   BREAKDANCER      10000  human   684      307    1244    4120
4         DELLY         10  human   933     2158    1020    4120
5         DELLY        100  human  2217      874    2307    4120
6         DELLY       1000  human  2339      752    2522    4120
7         DELLY      10000  human  2360      731    3791    4120
8   GENOMESTRIP        100  human   434      137     534    4120
9   GENOMESTRIP       1000  human   506       65     593    4120
10  GENOMESTRIP      10000  human   514       57     774    4120
11       clever         10  human    64  1368306    3802    4120
12       clever        100  human  1143  1367227    5512    4120
13       clever       1000  human  2714  1365656   53238    4120
14       clever      10000  human  4105  1364265  598114    4120
15        crest        100  human     2     4211    4237    4120
16        crest       1000  human  2115     2098    4335    4120
17        crest      10000  human  2149     2064    5930    4120
18  deepvariant         10  human  1637    69864    1669    4120
19  deepvariant        100  human  1870    69631    2237    4120
20  deepvariant       1000  human  2119    69382    5251    4120
21  deepvariant      10000  human  2927    68574   34932    4120
22         gasv        100  human     4   217807    6807    4120
23         gasv       1000  human   451   217360    8340    4120
24         gasv      10000  human  3321   214490   89733    4120
25         grom         10  human   620     1029     689    4120
26         grom        100  human  1306      343    1377    4120
27         grom       1000  human  1585       64    1708    4120
28         grom      10000  human  1594       55    2379    4120
29        manta         10  human  2369      324    2400    4120
30        manta        100  human  2515      178    2554    4120
31        manta       1000  human  2539      154    2662    4120
32        manta      10000  human  2545      148    3769    4120
33      octopus         10  human  1955   433791    1984    4120
34      octopus        100  human  2238   433508    3116    4120
35      octopus       1000  human  2748   432998   19715    4120
36      octopus      10000  human  3941   431805  199796    4120
37       popdel         10  human     1     1557     209    4120
38       popdel        100  human   783      775     884    4120
39       popdel       1000  human  1499       59    1574    4120
40       popdel      10000  human  1508       50    2208    4120
41    rdxplorer         10  human     9    57496    2439    4120
42    rdxplorer        100  human   712    56793    2688    4120
43    rdxplorer       1000  human  2036    55469    3969    4120
44    rdxplorer      10000  human  2789    54716   27852    4120
45       smoove         10  human   172      170     215    4120
46       smoove        100  human   279       63     320    4120
47       smoove       1000  human   312       30     355    4120
48       smoove      10000  human   315       27     471    4120
49       tardis         10  human   140      663     239    4120
50       tardis        100  human   693      110     733    4120
51       tardis       1000  human   781       22     843    4120
52       tardis      10000  human   788       15    1166    4120
53  GENOMESTRIP         10  human     0      571     496    4120
54         gasv         10  human     0   217811    6781    4120
55        crest         10  human     0     4213    4234    4120

##calculating statistics

In [ ]:
df_merge['nFN']=df_merge['n_true']-df_merge['nTP']

df_merge['sensitivity']=df_merge['nTP']/df_merge['n_true']
df_merge['precision']=df_merge['nTP']/(df_merge['nTP']+df_merge['nFP'])
df_merge['specificity']=df_merge['nTN']/(df_merge['nTN']+df_merge['nFP'])
df_merge['f-score']=2*(df_merge['sensitivity']*df_merge['precision'])/(df_merge['sensitivity']+df_merge['precision']+0.00000001)
df_merge.head()

          tool  threshold strain  ...  precision  specificity   f-score
0  BREAKDANCER         10  human  ...   0.059536     0.244733  0.023087
1  BREAKDANCER        100  human  ...   0.567104     0.624343  0.219918
2  BREAKDANCER       1000  human  ...   0.676085     0.734491  0.262180
3  BREAKDANCER      10000  human  ...   0.690212     0.802063  0.267658
4        DELLY         10  human  ...   0.301844     0.320957  0.258771

[5 rows x 12 columns]

In [ ]:
#count number of TP/FP/TN/FN for each tool at each threshold
df_sum=df_merge.groupby(['tool','threshold'],as_index=False)['nTP','nFP','nFN','nTN'].sum()
df_sum.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

          tool  threshold   nTP   nFP   nFN   nTN
0  BREAKDANCER         10    59   932  4061   302
1  BREAKDANCER        100   562   429  3558   713
2  BREAKDANCER       1000   670   321  3450   888
3  BREAKDANCER      10000   684   307  3436  1244
4        DELLY         10   933  2158  3187  1020
5        DELLY        100  2217   874  1903  2307
6        DELLY       1000  2339   752  1781  2522
7        DELLY      10000  2360   731  1760  3791
8  GENOMESTRIP         10     0   571  4120   496
9  GENOMESTRIP        100   434   137  3686   534

In [ ]:
%store df_sum

Stored 'df_sum' (DataFrame)

In [ ]:
df_merge[df_merge['nFN']<0].head(20)

Empty DataFrame
Columns: [tool, threshold, strain, nTP, nFP, nTN, n_true, nFN, sensitivity, precision, specificity, f-score]
Index: []

In [ ]:
df_sum.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_sum.csv')

In [ ]:
df_merge.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_merged.csv')

In [ ]:
df_merge.head()

          tool  threshold strain  ...  precision  specificity   f-score
0  BREAKDANCER         10  human  ...   0.059536     0.244733  0.023087
1  BREAKDANCER        100  human  ...   0.567104     0.624343  0.219918
2  BREAKDANCER       1000  human  ...   0.676085     0.734491  0.262180
3  BREAKDANCER      10000  human  ...   0.690212     0.802063  0.267658
4        DELLY         10  human  ...   0.301844     0.320957  0.258771

[5 rows x 12 columns]