In [ ]:
import csv 
import sys
 
    
length_gold=[]    
    
f = open('/content/drive/MyDrive/SV_Callers/MK_tools/STANDARD_HIGHCONF_HG002_SVs_Tier1_v0.6_DEL_PASS_XY.vcf')
reader = csv.reader(f,delimiter='\t')
for row in reader:
    if(((row[0])[0])!='#'):
        l=int(row[7].split(';')[1].split('=')[1])
        length_gold.append(l)
f.close()

print(len(length_gold))

4120

In [ ]:
strain=[]
lent=[]
n_true=[]
for i in range(len(length_gold)):
  x=length_gold[i]
  if(x>50):
    if x >= 50 and x < 100:
      l="50-100"
    elif x >= 100 and x < 500:
      l="100-500"
    elif x >= 500 and x < 1000:
      l="500-1000"
    elif x > 1000:
      l="1000+"
  lent.append(l)
  n_true.append(1)
  strain.append('human')

In [ ]:
import pandas as pd

df_gs=pd.DataFrame(list(zip(strain,lent,n_true)),columns=['strain','len','n_true'])
df_gs.head(10)

  strain       len  n_true
0  human    50-100       1
1  human     1000+       1
2  human   100-500       1
3  human  500-1000       1
4  human    50-100       1
5  human    50-100       1
6  human    50-100       1
7  human   100-500       1
8  human    50-100       1
9  human    50-100       1

In [ ]:
gs_ = df_gs.groupby(['strain','len'])['n_true'].sum().reset_index()
print(gs_)
gs_.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/gs_.csv')

  strain       len  n_true
0  human   100-500    2031
1  human     1000+     526
2  human    50-100    1360
3  human  500-1000     203